@import url( common.css);
@import url( style.css);
@import url( swiper_style.css);
@import url( popup_stlye.css);
@import url( tb_style.css);
@import url( tb_popup_style.css);

.swiper-container {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}
.swiper-slide {overflow: hidden;}

.screen{
    max-width: 427px;
    width: 100%;
    margin: 0 auto;
}

.screen > img{
    display: block;
    width: 100%;
}

@media (min-width: 1340px) and (max-width: 1920px){
    .swiper-slide > a > .screen > div { 
        color:#fff; 
        font-weight: 700; z-index: 2;
    }
    .top {
        font-size: 20px; 
        position: absolute; 
        top:-30px; left:30px; 
        transition: all .35s;
    }
    .bottom {
        font-size: 18px;
        position: absolute; 
        bottom:-30px; left:30px; 
        transition: all .35s;
    }
    .swiper-slide > a:hover > .screen >.top {top:190px}
    .swiper-slide > a:hover > .screen > .bottom {bottom:30px}
    
    .screen:after{
        content: "";
        position: absolute;
        top:0; left:0;
        width: 100%; height: 100%;
        background-color: rgba(0, 0, 0, 0.0);
        border-radius: 23px;
        transition: all .35s;
        z-index: 1;
    }
    
    .swiper-slide > a:hover >.screen:after{
        background-color: rgba(35, 39, 47, 0.6);
    }
}


@media (min-width: 768px) and (max-width: 1339px){
    .swiper-slide > a > .screen > div { 
        color:#fff; 
        font-weight: 500; z-index: 2;
    }
    .top {
        width: auto; height: 14px;
        font-size: 14px; 
        font-weight: 500;
        position: absolute; 
        top:65%; left:30px;
        line-height: 14px; 
    }
    .bottom {
        width: auto; height: 11px;
        font-size: 11px;
        position: absolute; 
        bottom:10%; left:30px;
        line-height: 11px;
    }
    .screen::after{
        content: "";
        position: absolute;
        top:0; left:0;
        width: 100%; height: 100%;
        background-color: rgba(35, 39, 47, 0.6);
        border-radius: 15px;
        z-index: 1;
    }
}
