body {
    background-color: #141416;
}

header{
    position: fixed;
    top:0;left: 0;
    width: 100%; height: 70px;
    border-bottom: 2px solid #42434e;
    box-sizing: border-box;
    background-color: #141416;
    z-index: 1;
}

.header_inner{  
    position: relative;
    width: 1340px; height: 70px;
    margin: 0 auto;
    display: flex;
}

.header_inner_text > a {
    font-size: 24px;
    font-weight: 700;
    line-height: 68px;
    color:#fff;
    margin-left: 15px;
}

.video_background{
    position: relative;
    width: 1340px;
    height: 902px;
    overflow: hidden;
    margin:0 auto;
}


.info{
    position: absolute;
    top: 110px; left: 15px;
    width: 270px;
    height: 752px;
    margin:0 auto;
    color:#fff;
    border:2px solid #42434e;
    border-radius: 30px;
    background-color: rgba(35, 39, 47, 0.8);
    box-sizing: border-box;
}

.video_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #fff;
    z-index: 1;
}

.icon-scroll,
.icon-scroll:before{
    position: absolute;
    left: 50%;
}

.icon-scroll{
    width: 40px;
    height: 70px;
    top: 80%;
    margin-left: -20px;
    border: 2px solid #fff;
    border-radius: 25px;
}


.icon-scroll:before{
    content: '';
    width: 8px;
    height: 8px;
    background: #fff;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
}


@keyframes scroll{
    0%{opacity: 1}
    
    100%{opacity: 0; transform: translateY(46px)}
}

.info:hover > .info_more{ 
    visibility: visible;
    transition: all 1.2s;
    opacity: 1;
    z-index: 2;
}

.info:not(:hover) > .info_more{
    visibility: hidden;
    transition: all 0.7s;
    opacity: 0;
    z-index: 2;
}

.info:hover + .video_text{
    visibility: hidden;
    transition: all 1.2s;
    opacity: 0;
}

.info:not(:hover) + .video_text{
    visibility: visible;
    transition: all 1.2s;
    opacity: 1;
}

.info_more{
    position: absolute;
    top: 0; left:285px;
    width: 270px;
    height: 572px;
    color:#fff;
    border:2px solid #42434e;
    border-radius: 30px;
    background-color: rgba(35, 39, 47, 0.8);
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
}

.info > ul > li:nth-of-type(1) {
    width: 131px; height: 135px;
    margin-left: 69.5px; margin-top: 35px;
    background-image: url(../images/info_img.png);
}

.info > ul > li:nth-of-type(2){
    margin-top: 30px;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
}

.info > ul > li:nth-of-type(3){
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    color: #616270;
}

.skill{
    width: 240px; height: 100%;
    margin:0 auto;
    margin-top: 15px;
}

.skill_info{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.graph { 
    height: 20px;  
    background: #42434e; 
    border-radius: 40px;
}

.graph > span { 
    display: block; 
    padding: 0 10px; 
    height: 20px; 
    line-height: 20px; 
    text-align: right;  
    border-radius: 40px; 
    box-sizing: border-box; 
    color: #616270;
    background-color: #fff;
    font-size: 13px;
}

.graph.stack1 span { animation: stack1 2s 1;}
.graph.stack2 span { animation: stack2 2s 1;}
.graph.stack3 span { animation: stack3 2s 1;}
.graph.stack4 span { animation: stack4 2s 1;}
.graph.stack5 span { animation: stack5 2s 1;}

@keyframes stack1 {
    0% { width: 0; color: rgba(255, 255, 255, 0)}
    100% { width: 85%;}
}

@keyframes stack2 {
    0% { width: 0; color: rgba(255, 255, 255, 0)}
    100% { width: 80%;}
}

@keyframes stack3 {
    0% { width: 0; color: rgba(255, 255, 255, 0)}
    100% { width: 50%;}
}

@keyframes stack4 {
    0% { width: 0; color: rgba(255, 255, 255, 0)}
    100% { width: 70%;}
}

@keyframes stack5 {
    0% { width: 0; color: rgba(255, 255, 255, 0)}
    100% { width: 80%;}
}

@media (min-width: 1340px) and (max-width: 1920px){
    .license{
        margin-top: 20px;
        font-size: 14px;
        text-align: center;
        font-weight: 500;
    }
    
    .liense_info {
        width: 180px; height: 100%;
        display: inline-flex;
        margin-left: 45px;
    }
    
    .liense_info > li:nth-of-type(1){
        margin-right: 10px;
    }
    
    .liense_info > li {
        margin-top: 15px;
        font-size: 14px;
        font-weight: 500;
        color: #616270;
    }
}

.more_hover{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
    animation: more_hover 2s infinite alternate;
    text-align: center;
}

@keyframes more_hover {
    0% {color: rgba(255, 255, 255, 0.9);}
    100% { color: rgba(255, 255, 255, 0);}
}

.works{
    width: 1340px; height: 100%;
    margin:0 auto;
    overflow: hidden;
}

@media (min-width: 768px) and (max-width: 1339px){
    .works{
        width: 100%; height: 100%;
    }
    .works_title{
        color: #fff;
        font-weight: 900;
        font-size: 36px;
        text-align: center;
        margin-top: 15px; margin-bottom: 15px;
    }
}

@media (min-width: 320px) and (max-width: 767px){
    .works{
        width: 100%; height: 100%;
    }
    .works_title{
        color: #fff;
        font-weight: 900;
        font-size: 36px;
        text-align: center;
        margin-top: 15px; margin-bottom: 15px;
    }
}

.works_title{
    color: #fff;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    margin-top: 30px; margin-bottom: 30px;
}

@media (min-width: 1340px) and (max-width: 1920px){
    .info_more {
        font-size: 14px;
        font-weight: 500;
        padding-right: 15px;
        padding-left: 15px;
    }
    
    .info_more_ttl{
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .info_more_ttl:nth-of-type(1){padding-top: 35px;}
    
    .info_more > div:nth-of-type(2) {
        text-align: center;
        color: #616270;
    }
    .info_more > div:nth-of-type(4) {
        text-align: center;
        color: #616270;
    }
    .info_more_date{padding-bottom: 15px;}
    .info_more_text{
        padding-bottom: 30px;
        color: #616270;
    }
}




/* 모바일 부분 숨김 */
@media (min-width: 1340px) and (max-width: 1920px){
    .tb_mb_button{display: none;}

    .tb_mb_text {display: none;}
}



